ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li {
  margin: 0;
  padding: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.grid > li {
  min-height: 50px;
  background: #ccc;
  border: 1px solid #fff;
}

.grid-col-2 > li {
  width: 50%;
}
.grid-col-3 > li {
  width: 33.3%;
}
.grid-col-4 > li {
width: 25%;
}
.grid-col-5 > li {
width: 20%;
}
.grid-col-6 > li {
width: 16.6%;
}
      